.main {
    height:100vh;
}
.header { 
    display:flex;
    background-color:#999999;

}
.bg-intro{
    background-image:url(assets/sterling-side.jpeg);
    background-size:cover;
}
.bg-about{
    background-color:#991435; 
}
ul{
    display:flex;
    list-style-type:none;
    justify-content:flex-end;
    align-self:center;
    justify-content:space-around;
}
.white-card{

}